*.jpg
*.txt
*.mp4
*.png
*.cache
*.pt


!labels_correlogram.jpg
!labels.jpg
!val_batch0_pred.jpg
!val_batch1_pred.jpg
!val_batch2_pred.jpg
!F1_curve.png
!P_curve.png
!PR_curve.png
!R_curve.png
!results.png
!confusion_matrix.png
!confusion_matrix_normalized.png

!best.pt
!results.csv
!detecting.jpg
!detecting2.jpg
!train_imgs_with_bbox.jpg
!requirements.txt

